.external-link {
    position: relative;
    overflow: visible;
    padding-right: 1em;
    color: var(--faded-text-color);
    opacity: 0;
    text-decoration: none;
    transition: color .5s, transform 1.5s ease-out, filter 1.5s, opacity 1.5s;
}

.external-link:hover {
    color: var(--contrast-color-faded);

}

.external-link.big {


    position: absolute;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.external-link .link-icon {
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: visible;
}

.external-link .link-icon svg {
    display: block;
    height: 100%;
    overflow: visible;
}

.external-link .link-icon svg > * {
    fill: currentColor;
}

.external-link .link-icon svg .arrow {
    transition: transform 250ms ease;
}

.external-link:hover .link-icon svg .arrow {
    transform: translate(10%,-10%);
}
