/* Base */

:root {
    --text-50: #e8eafc;
    --text-100: #d2d6f9;
    --text-200: #a5adf3;
    --text-300: #7883ed;
    --text-400: #4a5ae8;
    --text-500: #1d31e2;
    --text-600: #1727b5;
    --text-700: #121d87;
    --text-800: #0c145a;
    --text-900: #060a2d;
    --text-950: #030517;

    --background-50: #eaeefb;
    --background-100: #d4ddf7;
    --background-200: #aabbee;
    --background-300: #7f99e6;
    --background-400: #5577dd;
    --background-500: #2a55d5;
    --background-600: #2244aa;
    --background-700: #193380;
    --background-800: #112255;
    --background-900: #08112b;
    --background-950: #040815;

    --primary-50: #ebecf9;
    --primary-100: #d8daf3;
    --primary-200: #b1b5e7;
    --primary-300: #8a8fdb;
    --primary-400: #636acf;
    --primary-500: #3c45c3;
    --primary-600: #30379c;
    --primary-700: #242975;
    --primary-800: #181c4e;
    --primary-900: #0c0e27;
    --primary-950: #060714;

    --secondary-50: #f0e8fc;
    --secondary-100: #e1d2f9;
    --secondary-200: #c3a5f3;
    --secondary-300: #a578ed;
    --secondary-400: #874ae8;
    --secondary-500: #691de2;
    --secondary-600: #5417b5;
    --secondary-700: #3f1287;
    --secondary-800: #2a0c5a;
    --secondary-900: #15062d;
    --secondary-950: #0a0317;

    --accent-50: #f4eafa;
    --accent-100: #e9d5f6;
    --accent-200: #d3abed;
    --accent-300: #bc82e3;
    --accent-400: #a658da;
    --accent-500: #902ed1;
    --accent-600: #7325a7;
    --accent-700: #561c7d;
    --accent-800: #3a1254;
    --accent-900: #1d092a;
    --accent-950: #0e0515;

    --linearPrimarySecondary: linear-gradient(#3a42bc, #b28bf0);
    --linearPrimaryAccent: linear-gradient(#3a42bc, #cc9fea);
    --linearSecondaryAccent: linear-gradient(#b28bf0, #cc9fea);
    --radialPrimarySecondary: radial-gradient(#3a42bc, #b28bf0);
    --radialPrimaryAccent: radial-gradient(#3a42bc, #cc9fea);
    --radialSecondaryAccent: radial-gradient(#b28bf0, #cc9fea);
}

.caveat-font {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

* {
    cursor: none;
}




.header {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 10rem;
    text-align: center;
}


/* Options of page layout: normal, 2 columns, normal with some twists, just make the nav bar on the side */
/* Navbar */


.menu {
    position: fixed;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);

    .dot {
        display: block;
        border: 5px solid orange;
        background: orange;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        color: #000;
        text-decoration: none;

        &,
        &:hover,
        span {
            transition: all 200ms ease;
        }

        &:hover,
        &.active {
            background: transparent;
            transform: scale(1.2);

            span {
                opacity: 1;

                &.forty {
                    transform: translate(-45px, -3px);
                }

                &.sixty {
                    transform: translate(-60px, -3px);
                }
            }
        }

        span {
            font-size: 12px;
            display: block;
            transform: translate(0, -3px);
            opacity: 0;
        }
    }

}

section {
    height: 100vh;
}



/* Loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text);
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;

}

.loader::after {
    content: " ";
    width: 75px;
    height: 75px;
    border: 15px solid var(--background);
    border-top-color: var(--primary);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}



.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.scroll-btn>* {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: black;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*.active {
    color: black;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*:active,
.scroll-btn>*.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 23px;
}

.scroll-btn .mouse>* {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: black;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}