:root {
    --main-color: hotpink;
}

body {
    background-color: aqua;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: var(--main-color);
    color: white;
}

li a:hover:not(.active) {
    color: green;
}

/* Loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: grey;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;

}

.loader::after {
    content: " ";
    width: 75px;
    height: 75px;
    border: 15px solid white;
    border-top-color: pink;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from { transform: rotate(0turn) }
    to { transform: rotate(1turn) }
}