/* Base */
:root {
    --background-color: #eee;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1;
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

.caveat-font {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.mainContent {
    
    padding-left: 4vw;
    padding-right: 14vw;
    padding-top: 3rem;
}

* {
    cursor: none;
}


section {
    height: 100vh;
}

.header {

    /*  max-width: calc(100% - 4rem);  */
    width: 70vw;
    margin-left: 10.3vw;
    margin-right: auto;
    text-align: center;
}

.title-header {
    font-size: 12vw;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    opacity: 0;
    animation: popUp 0.5s ease-out forwards 0.6s;
}

@keyframes popUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.thick-line {
    border: none;
    height: 7px;
    border-radius: 25px;
    background-color: #000;
    margin: 10px auto; 
    z-index: 100000;
    animation: lineAppear 0.6s ease-in forwards;
}

@keyframes lineAppear {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.content-header {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0;
    animation: popDown 0.5s ease-out forwards 1.2s;
}

@keyframes popDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.content-header:last-child {
    margin-bottom: 20vh;
}

section p{
    transition: all 1.5s !important;
}

section p:last-child{
    transition: all 1.7s !important;
}

.hiddenLeft {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all .9s;
}

.hiddenDown {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all .9s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.socials {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    font-size: 0; 
    list-style: none; 
    padding-top: 2rem;
    margin: 0 auto; 
    max-width: 100%;
    opacity: 0;
    animation: popDown 0.5s ease-out forwards 1.7s;
}

.socials > a {
    display: inline-block; 
    width: 60px; 
    opacity: 1;
    transform: scale(var(--scale, .8));
    transition: all .3s cubic-bezier(0.38,-0.12, 0.24, 1.91); 
    --fill-color: black;
}


.socials > a:hover {
    --scale: 1; 
    --fill-color: red;
}

.socials > a path {
    fill: var(--fill-color);
    transition: all .3s 
}



/* Loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    transition: opacity 0.75s, visibility 1s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;

}

.loader::after {
    content: " ";
    width: 75px;
    height: 75px;
    border: 15px solid black;
    border-top-color: pink;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}



.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10vh;
    text-align: center;
}

.scroll-btn>* {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: black;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*.active {
    color: black;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*:active,
.scroll-btn>*.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 23px;
}

.scroll-btn .mouse>* {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: black;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}